body 
{ 
    background-color:cornsilk;
    font-family: 'Nerko One';
    font-weight: 'Patua One';
}
p
{  
    font-size: x-large;
}

h1
{ 
    color:brown
}
.max 
{ 
    background-color:antiquewhite
}
.ivan
{ background-color:white;}

h1 
{ font-family:'Courgette';}